/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }


}


/*my configuration*/
body {
  margin: 0;
}

.custom-list {
  list-style-type: none; /* прибираємо стандартні крапки */
  padding-left: 0;
}

.custom-list li::before {
  content: "👉 ";
}

.sub-list {
  list-style-type: none;
  padding-left: 30px; /* робимо отступ */
}

.sub-list li::before {
  content: "▶ ";
}

/*for form*/
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}

.h-full {
  height: 100%;
}

.footer_footer__ZK5Q_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.leading-normal {
  line-height: 1.5;
}

.leading-none {
  line-height: 1;
}

.border {
  border-width: 1px;
}

.rounded-lg {
  border-radius: .5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.z-10 {
  z-index: 10;
}

.dropdown_dropdown__xdStp {
  width: 150px;
  position: relative;
}

.dropdown_dropdown__xdStp .dropdown_selected__zGeLa {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 24px;
  padding: 8px 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

:after, :before {
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.font-bold {
  font-weight: 700;
}

.leading-none {
  line-height: 1;
}

.leading-normal {
  line-height: 1.5;
}


input[type="text"] {
  width: 85%; /* Растянуть на всю ширину */
  margin: 10px 7.5%;
  padding: 1rem; /* Внутренний отступ */
  border: 1px solid #e0e0e0; /* Тонкая серая рамка */
  border-radius: 8px; /* Скругление */
  box-sizing: border-box; /* Чтобы padding не ломал ширину */
}

button[type="submit"] {
  width: 85%; /* Растянуть на всю ширину */
  padding: 1rem; /* Внутренний отступ */
  margin: 5px 7.5%;
  border: none; /* Убрать рамку */
  border-radius: 24px; /* Скругление */
  background-color: #f0f2f5; /* Светло-серый фон */
  color: #555555; /* Цвет текста (на картинке он темный, не белый) */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* Состояние неактивной кнопки */
button[type="submit"]:disabled {
  background-color: #f0f2f5;
  color: #a0a0a0;
}

/*Состояние когда на кнопку навели мышей*/
button:hover {
  background-color: #b3d4fc;
  color: white;
  opacity: max(1, 1);
}

/*увеличивает при наведении мышей*/
.tr:hover {
  transform: scale(1.3);
  transition-duration: 0.7s ;
}

@keyframes shadow {
  from {
    text-shadow: 0 2px 5px dimgray;
  }
}

/*псевдоклас для запуска анимации*/
.shadow-pulse {
  animation-name: shadow; /* Имя @keyframes-анимации */
  animation-duration: 1.5s; /* Длительность */
  animation-iteration-count: infinite; /* Повторять бесконечно */
  animation-direction: alternate; /* Плавно "туда-обратно" (от тени к ее отсутствию) */
}

.bg-white {
  background-color: #fff;
}
.rounded-xl {
  border-radius: .75rem; /* 12px */
}
.max-w-md {
  max-width: 28rem; /* 448px */
}
.w-full {
  width: 100%;
}
.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem;
}
.text-lg {
  font-size: 1.125rem; /* 18px */
}
.text-gray-600 {
  color: #4B5563; /* Пример серого */
}
.mb-4 {
  margin-bottom: 1rem; /* 16px */
}
.mb-6 {
  margin-bottom: 1.5rem; /* 24px */
}
